<app-header-custom [title]="'Home'" [showBackButton]="false" [showProfileButton]="true"></app-header-custom>
<ion-content>
  <div class="hero">
    <h1>Bienvenido a Lost & Found</h1>
    <p>Encuentra y reporta productos perdidos fácilmente</p>
  </div>

  <div class="actions">
    <ion-button expand="block" color="primary" (click)="navigateToReport()">
      Reportar Producto Perdido
    </ion-button>
    <ion-button expand="block" color="primary" (click)="navigateToFind()">
      Buscar Producto Encontrado
    </ion-button>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let product of recentProducts">
        <app-product-card [product]="product"></app-product-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
