<ion-card>
  <ion-img [src]="product?.imageUrl" alt="{{ product?.title }}"></ion-img>

  <ion-card-header>
    <ion-card-title>{{ product?.title }}</ion-card-title>
    <ion-note [color]="getStatusColor(product?.status)">{{ product?.status }}</ion-note>
  </ion-card-header>

  <ion-card-content>
    <p>{{ product?.description }}</p>
    <ion-text color="medium">
      <small>{{ product?.location }} - {{ product?.dateReported | date:'shortDate' }}</small>
    </ion-text>
    <ion-button expand="full" color="primary" (click)="viewProductDetails($event)">Ver Detalles</ion-button>
  </ion-card-content>
</ion-card>
